* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}
.button__primary {
  margin: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
}

.button__primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9fafc;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

/* Hero Section */

.hero__container {
  margin-top: 1rem;
}

.hero__image__container {
  position: relative;
  width: 100%;
}

.hero__image__shape {
  position: absolute;
  right: 2;
}

.hero__image {
  position: absolute;
  width: 100%;
  right: auto;
  left: auto;
  border-radius: 6px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.hero__text {
  font-size: 30px;
  margin: 20px 0;
  color: #1d3557;
  font-weight: 900;
}

/* Explore Menu */

.explore__menu__text {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  color: #1d3557;
  font-weight: 900;
}

.food__card {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.food__card__image__container {
  width: 100%;
}
.food__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.food__card__description {
  padding: 15px;
}

.explore__menu__view__more {
  margin: 2rem 0;
  transition: 0.3s;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
  text-align: center;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 2px 30px;
  }

  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 100px;
  }
  .hero__image {
    margin-top: 2rem;
  }
  .explore__menu__lists {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    padding: 0 30px;
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .explore__menu__container {
    position: relative;
  }
  .explore__menu__gradient__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    transform: skewY(-5deg);
    z-index: -3;
  }

  .explore__menu__text {
    font-size: 50px;
  }
  .explore__menu__view__more {
    background: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .navbar {
    padding: 0 3rem;
  }
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .hero__description {
    width: 100%;
  }
  .hero__text {
    font-size: 50px;
  }

  .explore__menu__view__more {
    margin-top: 3rem;
    cursor: pointer;
  }
  .explore__menu__view__more:hover {
    background: #fff;
    color: #dd2476;
    margin: 4rem 20rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}
